.container-interno {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-interno {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.content-ensaios-internos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 15px;

    @media(min-width: 615px) {
        align-items: center;
    }
}

.photos-inside {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    row-gap: 5px;
    align-items: center;
    justify-items: center;

    img {
        width: 180px;
        height: 220px;
        border-radius: 2px;

        @media(min-width: 443px) {
            width: 220px;
            height: 250px;
        }

        @media(min-width: 520px) {
            width: 250px;
            height: 300px;
        }
    }

    @media(min-width: 630px) {
        grid-template-columns: repeat(3,  1fr);

        img {
            width: 200px;
            height: 280px;

            @media(min-width: 740px) {
                width: 240px;
                height: 300px;
            }
        }
    }

    @media(min-width: 831px) {
        grid-template-columns: repeat(4,  1fr);

        img {
            width: 200px;
            height: 280px;

            @media(min-width: 1024px) {
                width: 250px;
                height: 320px;
            }
        }
    }
}