header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.149);
    backdrop-filter: blur(10px);
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 2202020;
}

.logo {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    cursor: pointer;

    .name-1 {
        font-size: 24px;
    }

    .name-2 {
        padding-left: 10px;
        color: #8c8c8c;
        font-size: 16px;
    }
}

.icon-bar {
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease; /* Transição suave para transformação e cor */
    
    &.active {
        transform: rotate(90deg); /* Rotação ao abrir o menu */
        color: #8c8c8c; /* Cor ao ativar */
    }

    @media(min-width: 980px) {
        display: none;
    }
}

.nav-header {
    width: 60%;
    display: block;

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            list-style-type: none;
            font-weight: 500;
            cursor: pointer;
            transition: color 0.3s, transform 0.3s;

            &:hover {
                color: #8c8c8c;
                transform: scale(1.05);
            }
        }
    }

    @media(max-width: 980px) {
        display: none;
    }
}

.mobile-nav {
    display: none;

    @media(max-width: 980px) {
        display: block;
    }
}